@using Microsoft.AspNet.Identity
@using PagedList;
@using PagedList.Mvc;

@model IPagedList<jritchieBlog.Models.Post>

<link href="~/Content/PagedList.css" rel="stylesheet" />

@*@model IEnumerable<jritchieBlog.Models.Post>*@
@{
    ViewBag.Title = "Index";
}

<div style="margin-top:40px; margin-bottom:80px">

    @foreach (var item in Model)
    {
    <!-- Page Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8">

                    <!-- Post Content Column -->
                    <div style="border:4px double #009999; margin-bottom:10px; padding:10px; box-shadow:2px 2px 3px rgba(30,30,30,0.25)">

                        @{
                            if (!item.Published)
                            {
                                <p style="color:red; margin-bottom:0px">Unpublished</p>
                            }
                        }

                        <!-- Title -->
                        <a href="@Url.Action("Details", "Posts", new { slug = item.Slug })" style="font-size:large; font-weight:700; color: #009999; background-color: transparent; text-decoration: none">@item.Title</a>

                        <!-- Date/Time -->
                        <p style="margin-bottom:35px; font-size:smaller"><span style="font-weight:bold">Posted: &nbsp;&nbsp;&nbsp;</span>@item.Created</p>

                        <!-- Preview Image -->
                        <a href="@Url.Action("Details", "Posts", new { slug = item.Slug })">
                            <img class="img-responsive" src="@Url.Content(item.MediaUrl)" style="display:block; margin:auto; max-height:250px; width:auto; box-shadow:2px 2px 3px rgba(30,30,30,0.25)" />
                        </a>

                        <hr class="blue-small" />

                        <!-- Post Excerpt -->
                        <div>
                            <a href="@Url.Action("Details", "Posts", new { slug = item.Slug })" style="color: black; background-color: transparent; text-decoration: none;">
                                @Html.Raw(item.Excerpt)
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }

    <!-- Pagination controls -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div style="text-align:center">
                    <div style="color:rgb(30,80,150); margin-top:10px">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>
                    <div style="margin-top:-18px">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchStr = ViewBag.Search }))
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
